<?xml version="1.0" encoding="utf-8"?>
<SysConfig>

  <!--系统配置-->
  <SystemName>网站管理系统</SystemName>
  <SystemVersion>V1.0</SystemVersion>
  <SystemManageDir>/Manage/</SystemManageDir>
  
  <!--技术支持-->
  <SuprrotCompany>TsoLong</SuprrotCompany>
  <SuprrotDomain>http://www.tsolong.com/</SuprrotDomain>

  <!--分页配置-->
  <ManagePageSize>10</ManagePageSize><!--管理页面-->
  <ManagePageNumTotal>11</ManagePageNumTotal><!--管理页面页码总数量-->
  <UIPageSize>10</UIPageSize><!--前端页面-->
  <UIPageNumTotal>11</UIPageNumTotal><!--前端页面页码总数量-->

  
  <!--数据库配置-->
  <TableNamePrefix>SMS</TableNamePrefix>
  <CoreConnectionString>Server=(local);User ID=sa;Password=sa;Database=SMS</CoreConnectionString>



  <!--上传目录-->
  <UploadDir>/UploadFiles/</UploadDir>
  <!--临时上传文件夹-->
  <TempUploadFolder>Temp</TempUploadFolder>

  
  <!--图片格式限制-->
  <PictureExt>.gif,.jpeg,.jpg,.png</PictureExt>
  <!--文个格式限制-->
  <FileExt>.doc,.pdf,.rar</FileExt>

  
  <!--水印图片路径，想要水印的效果好，建议用png格式的图片-->
  <WaterImagePath>/WaterImage.png</WaterImagePath>

  <!--产品分类级数，最多能有几级分类-->
  <ProductsCategoryLevel>2</ProductsCategoryLevel>
  
  <!--产品图片上传配置-->
  
        <!--产品图片文件夹-->
        <ProductsPictureFolder>Products</ProductsPictureFolder>
        <!--产品图片文件容量大小范围 单位kb-->
        <ProductsPictureSize>6-600</ProductsPictureSize>
  
        <!--缩略图的宽和高和是否生成水印，[宽|高|是否生成水印],多组用","号隔开-->
        <ProductsPictureThumbnail>[100|100|False],[600|600|True]</ProductsPictureThumbnail>
        <!--水印图片位置方向，值参考(Center,TopCenter,RightCenter,BottomCenter,LeftCenter,LeftTop,RightTop,RightBottm,LeftBottom)-->
        <ProductsPictureWaterImageDiretion>RightBottom</ProductsPictureWaterImageDiretion>
        <!--水印图片水平和垂直编移量-->
        <ProductsPictureWaterImageOffset>-10,-10</ProductsPictureWaterImageOffset>
  
  <!--产品图片上传配置-->

</SysConfig>